@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap);

* {
    box-sizing:border-box;
    font-family:Poppins, sans-serif;
    margin:0;
    padding:0;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333333;
    color: white
}

a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: white;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #222222;
}
#result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
}